---
import { Image } from "astro:assets";
import LogoImage from "../assets/logo.png";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav class="px-2 py-4">
    <h2>
      <a href="https://codeforreal.com">
        <Image
          src={LogoImage}
          alt="codeforreal logo"
          class="w-45 sm:w-65"
          loading="eager"
        />
      </a>
    </h2>
    <SocialLinks />
  </nav>
</header>
<style>
  header {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    color: var(--black);
    text-decoration: none;
    color: var(--white);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }

    header {
      width: unset;
      margin: 0 unset;
      padding: 0 1em;
    }
  }
  @media screen and (min-width: 720px) and (max-width: 1000px) {
    nav {
      padding: 2rem;
    }
  }
</style>
